@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

// Offers carousel
#offer-carousel {
  ngu-item {
    div {
      display: block;
      width: 100%;
      height: 25rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .leftRs, .rightRs {
    cursor: pointer;
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    padding: 2rem;
    margin: 0 0.5rem;
    position:relative;
    top: -15rem;
    color: $color-black;
    background-color: #fff;
    border-radius: 50rem;
    @include box-shadow(0 2px 12px $color-shadow-light);
    @include transition(background-color 0.3s ease-in-out);

    &:hover {
      background-color: $color-black;

      fa-icon {
        color: $color-white;
      }
    }

    fa-icon {
      position: relative;
      left: 0.4rem;
      @include transition(color 0.3s ease-in-out);
    }
  }
  .leftRs {
    float: left;
  }
  .rightRs {
    float: right;
  }
}