<h1 class="text-center">
  <fa-icon [icon]="faPercent" [size]="'2x'"></fa-icon> Current Offers
</h1>
<ngu-carousel [inputs]="offerCarousel" (carouselLoad)="offersCarouselFunc($event)" id="offer-carousel" *ngIf="offerTeas">
  <ngu-item NguCarouselItem *ngFor="let offerTea of offerTeas">
    <div>
      {{offerTea.name}}
    </div>
  </ngu-item>

  <div NguCarouselPrev class='leftRs'><fa-icon [icon]="faCaretLeft"></fa-icon></div>
  <div NguCarouselNext class='rightRs'><fa-icon [icon]="faCaretRight"></fa-icon></div>
</ngu-carousel>