<h1 class="text-center">What is teafinder?</h1>
<section class="row">
  <div class="col-12 col-sm-6 col-md-4">
      <div>
        <fa-icon [icon]="faFilter" [size]="'5x'"></fa-icon>
        <h2>Filter</h2>
        <p>
          Filter all teas after your individual taste and preferences. You have many filters to choose from to find the perfect match for your tea experience.
        </p>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
      <div>
        <fa-icon [icon]="faShoppingCard" [size]="'5x'"></fa-icon>
        <h2>Shop</h2>
        <p>
          Filter all teas after your individual taste and preferences. You have many filters to choose from to find the perfect match for your tea experience.
        </p>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div>
      <fa-icon [icon]="faLeaf" [size]="'5x'"></fa-icon>
      <h2>Taste</h2>
      <p>
        Filter all teas after your individual taste and preferences. You have many filters to choose from to find the perfect match for your tea experience.
      </p>
    </div>
  </div>
</section>
