// colors
$color-brand-green: #48F26D;
$color-brand-blue:  #2EC6FF;
$color-warning:     #FF8B1C;
$color-danger:      #FF4343;
$color-white:       #F5F4EF;
$color-black:       #0B0B0B;
$color-dark-grey:   #333;
$color-shadow-dark: rgba(0,0,0,0.7);
$color-shadow-light: rgba(0,0,0,0.3);

// fonts
$font-roboto:       Roboto, sans-serif; // 100,300,300i,400,400i,500,700,900
$font-roboto-slab:  Roboto Slab, serif; // 100,300,400,700

