<ngu-carousel [inputs]="introCarousel" (carouselLoad)="introCarouselFunc($event)" id="intro-carousel">
  <ngu-item NguCarouselItem>
    <div>

    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div>

    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div>

    </div>
  </ngu-item>
  <div NguCarouselPrev class='leftRs'><fa-icon [icon]="faChevronLeft" [size]="'2x'"></fa-icon></div>
  <div NguCarouselNext class='rightRs'><fa-icon [icon]="faChevronRight" [size]="'2x'"></fa-icon></div>
</ngu-carousel>