@import "styles/variables";
@import "styles/mixins";
@import "styles/general-classes";

* {
  font-size: 1.6rem;
}
html, body {
  font-family: $font-roboto;
  font-weight: 300;
  font-size: 10px;
  background-color: $color-white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-roboto-slab;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.2rem;
}
h6 {
  font-size: 1.8rem;
}

.slider-col {
  padding: 0;
}

@include mobile() {
  html, body {
    font-size: 10.5px;
  }
}
@include tablet() {
  html, body {
    font-size: 11px;
  }
}
@include desktop() {
  html, body {
    font-size: 11.5px;
  }
}
@include desktopHD() {
  html, body {
    font-size: 12px;
  }
}